<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/base.css">
    {{ content_for_header }}
  </head>
  <body>
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>
