<section>
  Smarten up your work look or throw on a blazer with jeans for the weekend
  <br>
  <div style="width: 600px; height: 720px;">
    <img src="{{ section.settings.image_header | image_url }}" style="width: 100%; height: 100%;">
  </div>
  
</section>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_header",
      "label": "Pick Image",
      "info": "Pick an image"
    }
  ],
  "presets": [
    {
      "name": "header"
    }
  ]
}
{% endschema %}
