<section>
  Smarten up your work look or throw on a blazer with jeans for the weekend
  <br>
  {{ section.settings.image_header | image_url: width: 1500 | image_tag }}
</section>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_header",
      "label": "Pick Image",
      "info": "Pick an image"
    }
  ],
  "presets": [
    {
      "name": "header"
    }
  ]
}
{% endschema %}
