<section>Smarten up your work look or throw on a blazer with jeans for the weekend</section>

{% schema %}
{
  "name": "Header",
  "settings": [],
  "presets": [
    {
      "name": "header"
    }
  ]
}
{% endschema %}
