<section>Smarten up your work look or throw on a blazer with jeans for the weekend</section>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Pick Image",
        "info": "Pick an image"
    }
  ],
  "presets": [
    {
      "name": "header"
    }
  ]
}
{% endschema %}
