<div class="header-container">
  <div class="header">{{ section.settings['left-section-header'] }}</div>
  <div class="shop-now-button">
    <div class="shop-now-text">SHOP NOW</div>
    <div class="shop-now-icon">></div>
  </div>
  <div class="header-photo">
    <img src="{{ section.settings.left-section-image | image_url }}">
  </div>
</div>

{% schema %}
{
  "name": "Left Section",
  "settings": [
    {
      "type": "text",
      "id": "left-section-header",
      "label": "Left Section Header",
      "default": "Left Section Header"
    },
    {
      "type": "image_picker",
      "id": "left-section-image",
      "label": "Pick Image",
      "info": "Pick Image"
    }
  ],
  "presets": [
    {
      "name": "leftSection"
    }
  ]
}
{% endschema %}
