<div class="header-container">
  <div class="header">
    Smarten up your work <br>
    look or throw on a blazer <br>
    with jeans for the <br>
    weekend
  </div>
  <div class="shop-now-button">
    <div class="shop-now-text">SHOP NOW</div>
    <div class="shop-now-icon"></div>
  </div>
  <div class="header-photo"></div>
</div>

{% schema %}
{
  "name": "Left Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "left-section-image",
      "label": "Pick Image",
      "info": "Pick an image"
    }
  ],
  "presets": [
    {
      "name": "leftSection"
    }
  ]
}
{% endschema %}
