<div class="mobile-swiper">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{{ section.settings.left-section-image | image_url }}">
        {% if section.settings.swiper-mini-image %}
          <div class="swiper-mini-image">
            <img src="{{ section.settings.swiper-mini-image | image_url }}">
          </div>
        {% endif %}
      </div>
      <div class="swiper-slide">
        <img src="{{ section.settings.right-section-image | image_url }}">
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
  <script src="../assets/swiper.js" defer></script>
</div>

{% schema %}
{
  "name": "Swiper Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "left-section-image",
      "label": "Pick Image",
      "info": "Pick an image"
    },
    {
      "type": "image_picker",
      "id": "swiper-mini-image",
      "label": "Pick Image",
      "info": "Pick an image"
    },
    {
      "type": "image_picker",
      "id": "right-section-image",
      "label": "Pick Image",
      "info": "Pick an image"
    }
  ],
  "presets": [
    {
      "name": "swiperSection"
    }
  ]
}
{% endschema %}
