<div class="mobile-swiper">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{{ section.settings.left-section-image | image_url }}">
      </div>
      <div class="swiper-slide">
        <img src="{{ section.settings.right-section-image | image_url }}">
      </div>
    </div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.mySwiper', {
      slidesPerView: 1.3,
      spaceBetween: 24,
    });
  </script>
</div>

{% schema %}
{
  "name": "Swiper Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "left-section-image",
      "label": "Pick Image",
      "info": "Pick an image"
    },
    {
      "type": "image_picker",
      "id": "right-section-image",
      "label": "Pick Image",
      "info": "Pick an image"
    }
  ],
  "presets": [
    {
      "name": "swiperSection"
    }
  ]
}
{% endschema %}
